.admin-orderlist {
  position: relative;
  background-color: rgb(239, 236, 241);
  color: black;
  box-shadow: 2px 1px 7px #000000;
  max-width: 70%;
  overflow: hidden;
  border-radius: 3px;
  padding-bottom: 5px;
  left: 15%;
  margin-bottom: 0.5%;
}
.admin-orderid {
  display: block;
  margin-top: 0%;
  margin-left: 1.5%;
  padding: 0;
}

.admin-button-row {
  display: block;
  margin-top: 0.75%;
}
.admin-button {
  background-color: rgb(239, 236, 241);
  border-radius: 4px;
}
.admin-button:not(.admin-packed) {
  margin-left: 5%;
}
.packed {
  margin-left: 1.5%;
}
.admin-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.admin-total-price {
  margin-left: 5%;
  font-weight: 700;
}

.admin-newStatus {
  margin-left: 5%;
  float: right;
}
