
form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     
  }
  
  .container1 {
      margin-top: 100px;
      margin-bottom: 120px;
      margin-left: 50px;
      margin-right: 50px;
    padding: 100px;
    background-color: #f1f1f1;
    text-align: center;
  }
  .pass{
      font-size: 50px;
      color: #037716;
      margin-bottom: 20px;
    }
    @media (max-width: 360px) {
 
      .container1 {
        margin-top: 50px;
        margin-bottom: 60px;
        margin-left: 25px;
        margin-right: 25px;
      padding: 50px;
    }
    form {
      border: none;
    }
    }
   